
@import "./common/variable";
@import "./common/helper";
@import "./common/normalize";
@import "./common/media-query";

*,
::after,
::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 1024px;
}

@import "./atom/color";
@import "./atom/box-model";
@import "./atom/typography";

@import "./molecule/grid";

@import "./organism/header";
@import "./organism/home";
