// Todo:
// 1. Color variable
// 2. Spacing variable

.o-hdr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  .logo {
    height: 46px;
    width: 170px;
    background: url(../img/hm-logo.svg) no-repeat center center;
  }
}

.o-hdr__section {
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 0fr;
  grid-column-gap: 24px;
  align-items: center;

  &.is-align--right {
    justify-content: flex-end;
  }
}

.o-hdr__menu {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 40px;
  grid-auto-columns: 0fr;
  white-space: nowrap;
}

.o-hdr__link {
  position: relative;
  padding: 6px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: rgba(255, 255, 255, .75);
  cursor: pointer;
  transition: all .2s;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    left: 0;
    bottom: 0;
    transition: all .2s;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);

    &::after {
      width: 100%;
    }
  }

  &.has-sub-menu {
    .o-hdr__link__sub-menu {
      display: none;
    }
    &:hover {
      > .o-hdr__link__sub-menu {
        display: block;
      }
    }
  }
}

.o-hdr__menu__section {
  position: relative;
  display: flex;
}

.o-menu__sub-menu {
  display: none;
  position: absolute;
  top: 29px;
  left: -20px;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
  list-style: none;
  background: var(--white);
  z-index: 0;

  li {
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;

    a {
      color: var(--black-o75);

      &:hover {
        color: var(--brand);
      }
    }
  }
}

.o-hdr__separator {
  width: 1px;
  height: 50px;
  background-color: rgba(255, 255, 255, .25);
}