// Todo:
// 1. Color variable
// 2. Spacing variable

.o-hdr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  .logo {
    height: 46px;
    width: 170px;
    background: url(../img/logo.svg) no-repeat center center;
  }
}

.o-hdr__section {
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 0fr;
  grid-column-gap: 24px;
  align-items: center;

  &.is-align--right {
    justify-content: flex-end;
  }
}

.o-hdr__menu {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 40px;
  grid-auto-columns: 0fr;
  white-space: nowrap;
}

.o-hdr__link {
  position: relative;
  padding: 6px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: rgba(255, 255, 255, .75);
  cursor: pointer;
  transition: all .2s;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    left: 0;
    bottom: 0;
    transition: all .2s;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);

    &::after {
      width: 100%;
    }
  }
}

.o-hdr__separator {
  width: 1px;
  height: 50px;
  background-color: rgba(255, 255, 255, .25);
}